@model IEnumerable<AdminUsersListingModel>

@{
    ViewData["Title"] = "All Users";
}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Username
                </th>
                <th>
                    Email
                </th>               
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <th>
                        @user.Id
                    </th>
                    <th>
                        @user.Username
                    </th>
                    <th>
                        @user.Email
                    </th>
                </tr>
            }
        </tbody>
    </table>