
@{
    ViewData["Title"] = "Admin Panel";
}
<div>
    <a href="/admin/knights/">
        <input type="submit" class="btn btn-danger btn-lg" value="Delete Knights" />
    </a>
</div>
<div>
    <a href="/admin/users/">
        <input type="submit" class="btn btn-default btn-lg" value="Users" />
    </a>
</div>
<div>
    <a href="/admin/castles/create">
        <input type="submit" class="btn btn-default btn-lg" value="Create Castle" />
    </a>
    <a href="/admin/casles/generateincome">
        <input type="submit" class="btn btn-default btn-lg" value="Generate Income" />
    </a>
</div>
<div>
    <a href="/admin/minions/">
        <input type="submit" class="btn btn-default btn-lg" value="Minions" />
    </a>
    <a href="/admin/minions/create">
        <input type="submit" class="btn btn-default btn-lg" value="Create Minion" />
    </a>
</div>
<div>
    <a href="/admin/buildings/">
        <input type="submit" class="btn btn-default btn-lg" value="Buildings" />
    </a>
    <a href="/admin/buildings/create">
        <input type="submit" class="btn btn-default btn-lg" value="Create Buildings" />
    </a>
</div>
