
@{
    ViewData["Title"] = "Admin Panel";
}
<div>
    <a href="/admin/user/">
        <input type="submit" class="btn btn-default btn-lg" value="Users" />
    </a>
</div>
<div>
    <a href="/admin/casltes">
        <input type="submit" class="btn btn-default btn-lg" value="Castles" />
    </a>
    <a href="/admin/castles/create">
        <input type="submit" class="btn btn-default btn-lg" value="Create Castle" />
    </a>
</div>
<div>
    <a href="/admin/minions/">
        <input type="submit" class="btn btn-default btn-lg" value="Minions" />
    </a>
    <a href="/admin/minions/create">
        <input type="submit" class="btn btn-default btn-lg" value="Create Minion" />
    </a>
</div>
<div>
    <a href="/admin/buildings/">
        <input type="submit" class="btn btn-default btn-lg" value="Buildings" />
    </a>
    <a href="/admin/buildings/create">
        <input type="submit" class="btn btn-default btn-lg" value="Create Buildings" />
    </a>
</div>
