
@{
    ViewData["Title"] = "Admin Panel";
}

<form asp-area="Admin" asp-controller="Users" asp-action="Index">
    <input type="submit" class="btn btn-default btn-lg" value="Users" />
</form>
<form asp-area="Admin" asp-controller="Castles" asp-action="Index">
    <input type="submit" class="btn btn-default btn-lg" value="Castles" />
</form>
<a href="/admin/castles/create">
    <input type="submit" class="btn btn-default btn-lg" value="Create Castle" />
</a>
<a href="/admin/minions/create">
    <input type="submit" class="btn btn-default btn-lg" value="Create Minion" />
</a>
