<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        AdminPanel
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" style="background-color:palegoldenrod">
        <li>
            <a href="/admin/panel" style="font-size:large">Admin Panel</a>
        </li>
        <li>
            <a href="/admin/users">All Users</a>
        </li>
    </ul>
</li>
